.app {
  display: flex;
  flex-direction: column;
}

.loader {
  margin-top: 10px;
  height: 40vh;
  align-self: center;


}

.title {
  color: #ffbc0d;
  font-size: 100px;
  float: left;
  padding-left: 4%;
  padding-top: 2%;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #9a2632 0%, #da291c 74%);
  padding-bottom: 20px;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, .8);
  z-index: 1;
}

.form {
  margin-top: 15px;
  padding-left: 4%;

}

.searchInput {
  padding: 0.7rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: 2px solid white;
  border-radius: 10px;
  color: black;
  width: 20%;
}

.searchInput:focus {
  outline: none;
  border: 2px solid rgb(255, 255, 255);

}

.searchInput::placeholder {
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn {
  background-color: #ffbc0d;
  text-decoration: none;
  height: 40px;
  width: 80px;
  border: 0ch;
  border-radius: 100px;
  font-style: normal;
  line-height: 100%;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .8);
}

.btn:hover {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .8) inset;
}

.grid {
  padding-top: 3%;
  padding-bottom: 3%;
  display: grid;
  background-color: #ffbc0d;
  grid-template-columns: repeat(4, 300px);
  gap: 40px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.none
{
  display: none;
}
.nullText
{
  font-size: 40px;
  font-weight: 600;
  color: white;
}
.null
{
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  background-color: #ffbc0d;
  max-width: 100%;
}
.nullImage
{
  height: 400px;
  align-self: center;
}

.btnSection
{
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 30px;
  justify-content: space-between;
  background-color: #ffbc0d;
}

.Btn
{
  background-color: #da291c ;
  color: white;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px grey;
}

.Btn:hover
{
  box-shadow: 0px 0px 0px 0px grey;
}

@media (max-width: 1350px)  {

  .grid {
    padding-top: 3%;
    padding-bottom: 3%;
    display: grid;
    background-color: #ffbc0d;
    grid-template-columns: repeat(3, 300px);
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
}
@media (max-width: 1000px)  {

  .grid {
    padding-top: 3%;
    padding-bottom: 3%;
    display: grid;
    background-color: #ffbc0d;
    grid-template-columns: repeat(2, 300px);
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
}
@media (max-width: 650px)  {

  .grid {
    padding-top: 3%;
    padding-bottom: 3%;
    display: grid;
    background-color: #ffbc0d;
    grid-template-columns: repeat(1, 300px);
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .title {
    color: #ffbc0d;
    font-size: 50px;
    float: left;
    padding-left: 4%;
    padding-top: 2%;
  }
  .nullImage
{
  display: none;
  height: 400px;
  align-self: center;
}
.pageIndicator
{
  color: white;
  font-weight: 600;
}

.nullText
{
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.searchInput {
  padding: 0.7rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: 2px solid white;
  border-radius: 10px;
  color: black;
  width: 40%;
}
}